*{
    margin: 0;
    padding: 0;
    
  }
  header{
    margin: 10px;
  }
  nav{
    font-size: 25px;
  }
  body{
    font-family:Verdana;
    background-color: black;
    color: #ABCDEF;
  }
  h1{
    text-align: center;
    margin: 80px 0 20px 0;
    color: white;
    font-family: cursive;
  }
  h3{
    text-align: center;
    margin: 80px 0 20px 0;
    font-size: 300px;
    margin-bottom: 50px;
  }

  #subtitulo{
    text-align: center;
    margin-bottom: 80px;
    color: white;
    font-size: 18px;
    font-family: cursive;
  }
  legend{
    font-size: 1.1em;
    padding: 0 40px;
    
  }
  fieldset{
    width: 350px;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    padding: 10px 30px;
  }
  #reloj{
    font-size: 4em;
    color: white;
  }

  footer{
    margin-top: 50px;
    margin-bottom: 40px;
    text-align: center;
  }

  @media (max-width: 767px) {
    h3{
        font-size: 150px;
    }
    #reloj{
        font-size: 3.5em;
        color: white;
      }¨
      fieldset{
        width: 300px;
        margin: 0 auto;
        text-align: center;
        border-radius: 5px;
        padding: 10px 30px;
    }
    }
    
